{% extends 'template.html.twig' %}

{% block title %}
    {{ personne.firstname }} {{ personne.name }}
{% endblock %}

{% block body %}

     
    <div class="alert alert-success">
       
        {{ personne.firstname }} {{ personne.name }} a {{ personne.age }} ans
        {% if app.user.email %}
           <p>Created by: {{ app.user.email }}</p>
        {% endif %}
    </div>
    
{% endblock %}
